* {
    margin: 0;
    padding: 0;
}

nav{
    background-color:#fff;
    padding: 0;
}

nav a {
    color:green;
    display: block;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    max-width: 400px;
    margin: 0 auto;
}
aside {
    width: 400px;
    margin: 0 auto;
    text-align: center;
}

h2{
    width: 400px;
    margin: 0 auto;
}

h1 {
    color: #fff;
    margin: 10px;
    text-align: center;
}

main img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 30px #333;
}

h2 {
    border-bottom: 1px solid #222;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 15px #333;
}

section{
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}
p {
    margin: 10px;
    padding: 0;
}

ul {
    margin: 10px 20px;
}

footer {
    margin-top: 10px 0;
    border-top: 5px 0;
    text-align: center;
    font-size: .5rem;
}