* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color:#fff;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: green;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header, .grid, footer {
    background-color: #333;
    color: green;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    max-width: 840px;
    margin: 0 auto;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

.grid {
    display: grid;
    align-items: center;
}

main img {
    float: right;
    width: 30%;
    height: auto;
    box-shadow: 0 0 30px #333;
    border: 5px;
    padding: 10px;
}
main p {
    margin: 10px;
    padding: 0;
    text-align: left;
    width: 45%;
}

main ul {
    max-width: 550px;
    margin: 0 auto;
    text-align: left;
}

aside {
    position: relative;
    width: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside img {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: auto;
    box-shadow: 0 0 15px #333;
}

aside h2{
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: center;
}

aside p {
    text-align: justify;
}

h1 {
    color: #0d0d0d;
    text-align: center;
}


section{
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

ul {
    margin: 10px 20px;
}

footer {
    margin-top: 5px;
    border-top: 5px 0;
    text-align: center;
    font-size: .9rem;
}
/* Class Selectors */
.box {
    display: block;
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #59e68f;
    color: #9c8f8f;
    box-sizing: border-box;
}