* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color:#fff;
    padding: 0;
}

nav a {
    color:green;
    display: block;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header,footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
}

main {
    max-width: 600px;
}

main img {
    float: right;
    width: 45%;
    height: auto;
    box-shadow: 0 0 30px #333;
    border: 5px;
    padding: 10px;
}
main p {
    margin: 10px;
    padding: 0;
    text-align: left;
    width: 45%;
}

main ul {
    max-width: 550px;
    margin: 0 auto;
    text-align: left;
}

aside {
    position: relative;
    left: 500;
    top: 30;
    width: 400px;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    box-shadow: 0 0 15px #333;
}

aside h2{
    position: relative;
    top: 100px;
    left: 0px;
    width: 400px;
    margin: 0 auto;
}

h1 {
    color: #0d0d0d;
    text-align: center;
}


section{
    margin: 20px 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 10px;
    background-color: #abe;
    font-size: .9rem;
}

ul {
    margin: 10px 20px;
}

footer {
    margin-top: 5px;
    border-top: 5px 0;
    text-align: center;
    font-size: .9rem;
}
/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgb(0 0 0 / 10%);
  padding: 1rem;
  background-color: #59e68f;
  color: #9c8f8f;
}